@tailwind base;
@tailwind components;
@tailwind utilities;

*[data-radius='xs'] {
	@apply rounded-sm;
}

*[data-radius='sm'] {
	@apply rounded;
}

*[data-radius='md'] {
	@apply rounded-lg;
}

*[data-radius='lg'] {
	@apply rounded-2xl;
}

*[data-radius='xl'] {
	@apply rounded-4xl;
}

.filled {
	@apply text-white;
}

.dark.filled {
	@apply bg-dark-9;
}

.gray.filled {
	@apply bg-gray-8;
}

.red.filled {
	@apply bg-red-8;
}

.pink.filled {
	@apply bg-pink-8;
}

.grape.filled {
	@apply bg-grape-8;
}

.violet.filled {
	@apply bg-violet-8;
}

.indigo.filled {
	@apply bg-indigo-9;
}

.blue.filled {
	@apply bg-blue-7;
}

.cyan.filled {
	@apply bg-cyan-9;
}

.teal.filled {
	@apply bg-teal-8;
}

.green.filled {
	@apply bg-green-8;
}

.lime.filled {
	@apply bg-lime-8;
}

.yellow.filled {
	@apply bg-yellow-8;
}

.orange.filled {
	@apply bg-orange-8;
}

.dark.light {
	@apply bg-dark-8/20 text-dark-0;
}

.gray.light {
	@apply bg-gray-8/20 text-gray-2;
}

.red.light {
	@apply bg-red-8/20 text-red-2;
}

.pink.light {
	@apply bg-pink-8/20 text-pink-2;
}

.grape.light {
	@apply bg-grape-8/20 text-grape-2;
}

.violet.light {
	@apply bg-violet-8/20 text-violet-2;
}

.indigo.light {
	@apply bg-indigo-8/20 text-indigo-2;
}

.blue.light {
	@apply bg-blue-8/20 text-blue-2;
}

.cyan.light {
	@apply bg-cyan-8/20 text-cyan-2;
}

.teal.light {
	@apply bg-teal-8/20 text-teal-2;
}

.green.light {
	@apply bg-green-8/20 text-green-2;
}

.lime.light {
	@apply bg-lime-8/20 text-lime-2;
}

.yellow.light {
	@apply bg-yellow-8/20 text-yellow-2;
}

.orange.light {
	@apply bg-orange-8/20 text-orange-2;
}

button.outline {
	@apply bg-transparent shadow-[0_1px_0_inset,1px_0_0_inset,0_-1px_0_inset,1px_0_0];
}

.dark.outline {
	@apply shadow-dark-5 text-dark-5;
}

.gray.outline {
	@apply shadow-gray-5 text-gray-5;
}

.red.outline {
	@apply shadow-red-5 text-red-5;
}

.pink.outline {
	@apply shadow-pink-5 text-pink-5;
}

.grape.outline {
	@apply shadow-grape-5 text-grape-5;
}

.violet.outline {
	@apply shadow-violet-5 text-violet-5;
}

.indigo.outline {
	@apply shadow-indigo-5 text-indigo-5;
}

.blue.outline {
	@apply shadow-blue-5 text-blue-5;
}

.cyan.outline {
	@apply shadow-cyan-5 text-cyan-5;
}

.teal.outline {
	@apply shadow-teal-5 text-teal-5;
}

.green.outline {
	@apply shadow-green-5 text-green-5;
}

.lime.outline {
	@apply shadow-lime-5 text-lime-5;
}

.yellow.outline {
	@apply shadow-yellow-5 text-yellow-5;
}

.orange.outline {
	@apply shadow-orange-5 text-orange-5;
}

.subtle {
	@apply bg-transparent;
}

.dark.subtle {
	@apply hover:bg-dark-8/20 text-dark-0;
}

.gray.subtle {
	@apply hover:bg-gray-8/20 text-gray-2;
}

.red.subtle {
	@apply hover:bg-red-8/20 text-red-2;
}

.pink.subtle {
	@apply hover:bg-pink-8/20 text-pink-2;
}

.grape.subtle {
	@apply hover:bg-grape-8/20 text-grape-2;
}

.violet.subtle {
	@apply hover:bg-violet-8/20 text-violet-2;
}

.indigo.subtle {
	@apply hover:bg-indigo-8/20 text-indigo-2;
}

.blue.subtle {
	@apply hover:bg-blue-8/20 text-blue-2;
}

.cyan.subtle {
	@apply hover:bg-cyan-8/20 text-cyan-2;
}

.teal.subtle {
	@apply hover:bg-teal-8/20 text-teal-2;
}

.green.subtle {
	@apply hover:bg-green-8/20 text-green-2;
}

.lime.subtle {
	@apply hover:bg-lime-8/20 text-lime-2;
}

.yellow.subtle {
	@apply hover:bg-yellow-8/20 text-yellow-2;
}

.orange.subtle {
	@apply hover:bg-orange-8/20 text-orange-2;
}

button.transparent {
	@apply bg-transparent;
}

.dark.transparent {
	@apply text-dark-0;
}

.gray.transparent {
	@apply text-gray-2;
}

.red.transparent {
	@apply text-red-2;
}

.pink.transparent {
	@apply text-pink-2;
}

.grape.transparent {
	@apply text-grape-2;
}

.violet.transparent {
	@apply text-violet-2;
}

.indigo.transparent {
	@apply text-indigo-2;
}

.blue.transparent {
	@apply text-blue-2;
}

.cyan.transparent {
	@apply text-cyan-2;
}

.teal.transparent {
	@apply text-teal-2;
}

.green.transparent {
	@apply text-green-2;
}

.lime.transparent {
	@apply text-lime-2;
}

.yellow.transparent {
	@apply text-yellow-2;
}

.orange.transparent {
	@apply text-orange-2;
}

button.dark.default,
button.gray.default,
button.red.default,
button.pink.default,
button.grape.default,
button.violet.default,
button.indigo.default,
button.blue.default,
button.cyan.default,
button.teal.default,
button.green.default,
button.lime.default,
button.yellow.default,
button.orange.default {
	@apply bg-dark-6 text-white border border-dark-4;
}

