@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.truncate {
		display: block;
		line-clamp: var(--line);
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
